<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<nav th:fragment="department-sidebar" id="sidebar" class="navbar navbar-expand-xll navbar-light bg-light sidebar">
  <ul class="list-unstyled components mb-5" id="menu-list">
    <a role="button" id="add-department">Создание</a>
    <a role="button" id="edit-department">Редактирование</a>
    <a role="button" id="activate-department">Активация</a>
    <a role="button" id="view-department">Просмотр</a>
  </ul>
</nav>
</body>
</html>