<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<nav th:fragment="project-sidebar" id="sidebar" class="navbar navbar-expand-xll navbar-light bg-light sidebar">
  <ul class="list-unstyled components mb-5" id="menu-list">
    <a role="button" id="add-project">Создание</a>
    <a role="button" id="edit-project">Редактирование</a>
    <a role="button" id="activate-project">Акцивация</a>
    <a role="button" id="view-project">Просмотр</a>
    <a role="button" id="assign-user">Назначение сотрудников</a>
  </ul>
</nav>
</body>
</html>

