<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<nav th:fragment="user-sidebar" id="sidebar" class="navbar navbar-expand-xll navbar-light bg-light sidebar">
  <ul class="list-unstyled components mb-5" id="menu-list">
      <a role="button" id="activate-user" th:text="#{user.sidebar.activate}"></a>
      <a role="button" id="edit-user" th:text="#{user.sidebar.edit}"></a>
      <a role="button" id="view-user" th:text="#{user.sidebar.view}"></a>
  </ul>
</nav>
</body>
</html>