<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="activate-project" id="content-activate-project">
  <h3 class="mb-4">Активация проектов</h3>
  <div class="alert"></div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="activate_project_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4">Наименование</th>
          <th class="col-4">Отдел</th>
          <th class="col-1">Дата создания</th>
          <th class="col-1">Активация</th>
          <th class="col-1">Действие</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>