<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title>Главное меню</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link th:href="@{/resources/css/main-page-style.css}" rel="stylesheet" type="text/css">
  <script type="text/javascript" th:src="@{/resources/js/user.js}"></script>
  <script type="text/javascript" th:src="@{/resources/js/department.js}"></script>
  <script type="text/javascript" th:src="@{/resources/js/project.js}"></script>
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
  <div class="d-flex align-items-start my-own-container">
    <div th:replace="~{fragments/sidebar/sidebar :: sidebar}"></div>
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4">Sidebar #04</h2>
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</body>

</html>