<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<body>
<div class="row" sec:authorize="hasAuthority('SUPER_ADMIN')" th:fragment="radio-user">
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="user_radio" id="getCurrentEmployeesRadio" value="1">
      <label class="form-check-label" for="getCurrentEmployeesRadio">Cотрудники</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="user_radio" id="getAdminsRadio" value="2">
      <label class="form-check-label" for="getAdminsRadio">Администраторы</label>
    </div>
  </div>
</div>
</body>
</html>