<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<body>
<div class="container-fluid p-4 p-md-5 pt-5" th:fragment="my-task" id="content-my-task">
  <h3 class="mb-4" th:text="#{my_task.page.title}">Просмотр моих задач</h3>
  <div class="alert"></div>
  <div class="row mb-5" id="tab_edit_task"
       sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" id="departmentBtnTomy_taskTask" th:text="#{my_task.tab.department}">Выбрать отдел</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
          <a class="nav-link" id="projectBtnTomy_taskTask" th:text="#{my_task.tab.project}">Выбрать проект</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid p-4 p-md-5 pt-5" id="edit_tasks_div">
    <div class="row" id="div_department_my_task_task_table" sec:authorize="hasAuthority('ADMIN')">
      <div class="col">
        <table class="table table-hover" id="department_my_task_task_table">
          <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-4" th:text="#{my_task.department.table.name}">Наименование</th>
            <th class="col-4" th:text="#{my_task.department.table.choice}">Выбор</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="row" id="div_project_my_task_task_table"
         sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
      <div class="col">
        <table class="table table-hover" id="project_my_task_task_table">
          <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-4" th:text="#{my_task.project.table.name}">Наименование</th>
            <th class="col-4" th:text="#{my_task.project.table.choice}">Выбор</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div id="div_my_task_tasks_table">
      <div class="list-group">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" id="open_tasks_btn" th:text="#{my_task.list.button.open}">Открытые</button>
          <button type="button" class="btn btn-secondary" id="in_progress_tasks_btn" th:text="#{my_task.list.button.in_progress}">В процессе</button>
          <button type="button" class="btn btn-secondary" id="done_tasks_btn" th:text="#{my_task.list.button.done}">Выполненные</button>
          <button type="button" class="btn btn-secondary" id="closed_tasks_btn" th:text="#{my_task.list.button.closed}">Закрытые</button>
        </div>
        <div id="task_blocks_div"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
