<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<body>
<div class="container-fluid p-4 p-md-5 pt-5" th:fragment="view-task" id="content-view-task">
  <h3 class="mb-4" th:text="#{task.view.title}">Просмотр задач</h3>
  <div class="alert"></div>
  <div class="row mb-5" id="tab_view_task" sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" id="departmentBtnToAddTask" th:text="#{task.view.tab.department}">Выбрать отдел</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
          <a class="nav-link" id="projectBtnToAddTask" th:text="#{task.view.tab.project}">Выбрать проект</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid p-4 p-md-5 pt-5">
    <div class="row" id="div_department_view_task_table" sec:authorize="hasAuthority('ADMIN')">
      <div class="col">
        <table class="table table-hover" id="department_view_task_table">
          <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-4" th:text="#{task.view.department.table.name}">Наименование</th>
            <th class="col-4" th:text="#{task.view.department.table.choice}">Выбор</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="row" id="div_project_view_task_table"
         sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD', 'PROJECT_MANAGER')">
      <div class="col">
        <table class="table table-hover" id="project_view_task_table">
          <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-4" th:text="#{task.view.project.table.name}">Наименование</th>
            <th class="col-4" th:text="#{task.view.project.table.choice}">Выбор</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div id="div_view_tasks_table">
      <div class="list-group">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" id="open_tasks_btn" th:text="#{task.view.list.button.open}">Открытые</button>
          <button type="button" class="btn btn-secondary" id="in_progress_tasks_btn" th:text="#{task.view.list.button.in_progress}">В процессе</button>
          <button type="button" class="btn btn-secondary" id="done_tasks_btn" th:text="#{task.view.list.button.done}">Выполненные</button>
          <button type="button" class="btn btn-secondary" id="closed_tasks_btn" th:text="#{task.view.list.button.closed}">Закрытые</button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <table class="table table-hover" id="view_tasks_table">
            <thead>
            <tr>
              <th class="col-sm">#</th>
              <th class="col-2" th:text="#{task.view.table.name}">Наименование</th>
              <th class="col-3" th:text="#{task.view.table.description}">Описание</th>
              <th class="col-1" th:text="#{task.view.table.status}">Статус</th>
              <th class="col-1" th:text="#{task.view.table.date}">Дата</th>
              <th class="col-2" th:text="#{task.view.table.project}">Проект</th>
              <th class="col-2" th:text="#{task.view.table.assignee}">Исполнитель</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
