<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="sidebar" id="sidebar" class="navbar navbar-expand-xll navbar-light bg-light sidebar">
    <ul class="list-unstyled components mb-5" id="menu-list">
        <li>
            <a href="registration.html"> Homepage</a>
        </li>
        <li>
            <a href="registration.html"> Dashboard</a>
        </li>
        <li>
            <a href="registration.html"> Friends</a>
        </li>
        <li>
            <a href="registration.html"> Subcription</a>
        </li>
        <li>
            <a href="registration.html"> Settings</a>
        </li>
        <li>
            <a href="registration.html"> Information</a>
        </li>
        <li>
            <a href="/telephone-directory">Телефонный справочник</a>
        </li>
    </ul>
</nav>
</body>
</html>