<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="assign-user" id="content-assign-user">
  <h3 class="mb-4">Назначение пользователя в отдел</h3>
  <div class="alert"></div>
  <div class="row mb-5">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" id="assignEmployeeBtn">Свободные сотрудники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="transferEmployeeBtn">Перевод сотрудника</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="assign_users_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Логин</th>
          <th class="col-3">ФИО</th>
          <th class="col-2">Роль</th>
          <th class="col-3">Отдел</th>
          <th class="col-1">Действие</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Назначение пользователя на проект</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <label for="departmentSelectModalTable">Выберите отдел</label>
                      <table class="table table-hover" id="departmentSelectModalTable" style="width:100%">
                        <thead>
                        <tr>
                          <th class="col-1">#</th>
                          <th class="col-4">Наименование</th>
                          <th class="col-4">Выбор</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>